<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/images/logo.png}" src="../static/images/logo.png"
				width="auto" height="50" class="d-inline-block align-top" alt="" />
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Admin
							home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/shop}"
						href="#">shop</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}"
						href="#">logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		<a th:href="@{/admin/categories/add}"
			class="btn btn-primary mb-3">Thêm thể loại sản phẩm</a>
		<table class="table">
			<thead class="table-secondary">
				<tr>
					<th scope="col">STT</th>
					<th scope="col">Tên</th>
					<th scope="col">Xóa</th>
					<th scope="col">Cập nhập</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category, iStat : ${categories}">
					<th scope="row" th:text="${iStat.index + 1}"></th>
					<td th:text="${category.name}"></td>
					<td><a
						th:href="@{/admin/categories/delete/{id}(id=${category.id})}"
						class="btn btn-danger">Xóa</a></td>
					<td><a
						th:href="@{/admin/categories/update/{id}(id=${category.id})}"
						class="btn btn-primary">Cập nhập</a></td>
				</tr>

			</tbody>
		</table>
	</div>


</body>
</html>